@font-face {
  font-family: "GlowSansJ-Compressed-Medium";
  src: url("./assets/GlowSansJ-Compressed-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GlowSansJ-Compressed-Light";
  src: url("./assets/GlowSansJ-Compressed-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GlowSansSC-Condensed-Medium.otf";
  src: url("./assets/GlowSansSC-Condensed-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GlowSansSC-Condensed-Light.otf";
  src: url("./assets/GlowSansSC-Condensed-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9fafb;
    user-select: none;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}
#header-container {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
#header {
    width: 80%;
    height: 40px;
    display: flex;
    align-items: center;
    background: white;
    border-bottom: 10px solid #2F98B9;
    margin: auto auto;
    padding: 24px 40px;
    pointer-events: all;
}
#header .image {
    cursor: pointer;
    width: 200px;
}
#header .spacer {
    flex-grow: 1;
}
#header .text-button {
    cursor: pointer;
    margin: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #5D5D5D;
    text-align: center;
    font-family: "GlowSansJ-Compressed-Light", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

#footer {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: calc(100% - 96px);
    width: 100%;
    height: 96px;
    background-color: white;
    padding: 12px 32px;
    gap: 12px;
}
#footer .text {
    display: flex;
    flex-direction: row;
    font-family: "GlowSansJ-Compressed-Light", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #8D8D8D;
}
#footer .hyperlink {
    display: flex;
    flex-direction: row;
    font-family: "GlowSansJ-Compressed-Light", Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-decoration: underline;
    color: #8D8D8D;
}
#slide-background {
    display: flex;
    overflow: hidden;
    flex-direction: row;
    position: fixed;
    width: 100%;
    height: calc(100% - 96px);
    background-color: black;
}
#slide-background #next-button {
    cursor: pointer;
    position: fixed;
    width: calc((2vw + 3vh) / 2);
    height: calc((6vw + 12vh) / 2);
    align-self: center;
    right: 12px;
    background-image: url("./assets/index/right.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#slide-background #previous-button {
    cursor: pointer;
    position: fixed;
    width: calc((2vw + 3vh) / 2);
    height: calc((6vw + 12vh) / 2);
    align-self: center;
    left: 12px;
    background-image: url("./assets/index/left.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#slide-background .banner {
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    flex-shrink: 0;
}
#slide-background #metropolis {
    background-image: url("./assets/index/metropolis/background.jpg");
}
#slide-background #metropolis #slogan-base {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#slide-background #metropolis #slogan-base #slogan-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
#slide-background #metropolis #slogan-base .slogan {
    height: calc((8vw + 8vh) / 2);
    font-size: calc((6vw + 6vh) / 2);
    font-weight: 350;
    font-family: "GlowSansSC-Condensed-Light", Helvetica, Arial, sans-serif;
    color: white;
    text-align: right;
}

#slide-background #metropolis #logo-base {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#slide-background #metropolis #logo {
    height: 10vh;
}
#slide-background #metropolis #hyperlink {
    cursor: pointer;
    color: white;
    font-size: 2.5vh;
    font-family: "GlowSansJ-Compressed-Light", Helvetica, Arial, sans-serif;
    text-decoration: underline;
    text-align: right;
    padding-right: 30px;
}

#slide-background #metropolis .spacer {
    flex-grow: 1;
}
#slide-background #metropolis .spacer-half {
    flex-grow: 0.5;
}
#slide-background #metropolis .spacer-double {
    flex-grow: 2;
}

#slide-background #dovecot-pics {
    background-image: url("./assets/index/dovecot-pics/background.jpg");
}

#slide-background #netawork {
    background-image: url("./assets/index/netawork/background.jpg");
}