html, body {
    margin: 0;
    padding: 0;
    background-image: url('assets/metropolis.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: Arial, sans-serif;
    overflow: hidden;
    /* margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden; */
}

/* 外层容器，控制slider尺寸 */
.slider-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden; /* 确保超出部分不可见 */
}

/* 图片滑动容器 */
.slider {
    display: flex;
    height: 100%;
    width: 300%; /* 三张图片宽度之和 */
    transition: transform 0.5s ease; /* 平滑过渡 */
}

/* 每个背景图片的样式 */
.slider div {
    background-size: cover;
    background-position: center;
    flex: 1; /* 每个背景图片占据100%宽度 */
    height: 100vh;
}

/* 初始化三个背景图片 */
.slider .slide1 {
    background-image: url('assets/1.png');
}
.slider .slide2 {
    background-image: url('assets/2.png');
}
.slider .slide3 {
    background-image: url('assets/3.png');
}

/* 控制左右按钮的样式 */
button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    z-index: 1;
}

/* #prevButton {
    left: 20px;
}

#nextButton {
    right: 20px;
} */

.test {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 32px;
    min-height: 64px;
    cursor: grab;
    background-color: black;
}